<section class="table-container">
  <table class="table">
  <% @builds.each do |b| %>
    <caption><% b.name %></caption>

    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>View</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= b.name %></td>
        <td><%= b.total_price %></td>
        <td><%= link_to "Show", build_path(b) %></td>
      <% end %> 
      </tr>
    </tbody>
  </table>
</section>

