<html>
  <% if user_signed_in? %>
    <div class="section">
      <div class="welcome">
        <h1 class="welcome_text text1">Welcome to JADE!</h1>
        <h1 class="welcome_text text2">Build your dream setup.</h1>
        <%= link_to "Get started", cpu_path, class:"welcome_button" %>
      </div>

      <div id="guide">
        <div class="guide_col gc1">
          <div class="start_link"><a href="builds"><i class="fas fa-desktop fa-2x sl"></i></a></div>
          <h2>Build</h2>
        </div>
        <div class="guide_col gc2">
          <div class="start_link"><a href="#"><i class="fas fa-search fa-2x sl"></i></a></div>
          <h2>Browse</h2>
        </div>
        <div class="guide_col gc3">
          <div class="start_link"><a href="#"><i class="fab fa-readme fa-2x sl"></i></a></div>
          <h2>Guide</h2>
        </div>
      </div>
    </div>
    <%= render "shared/footer", class: "foot" %>
  <% else %>
    <%= render "shared/cardbuild", class: "cardbuild" %>
    <%= render "shared/footer2", class: "foot" %>
  <% end %>

</html>
