:root {
  // font
  --fw-reg: 300;
  --fw-bold: 900;

  --fs-h1: 2.2rem;
  --fs-h2: 1.8rem;
  --fs-h3: 1.5rem;
  --fs-body: 1.1rem;
  --fs-label: 1rem;

  --clr-light: rgb(248, 248, 248);
  --clr-dark: #404040;
  --clr-darker: #202020;
  --clr-darkest: #101010;

  --clr-accent: #0f89ca;
  --clr-accent2: #1a578f;

  --clr-accent3: seagreen;
  --clr-accent4: #22af4b;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.2),
    -0.1em 0.125em 0.25em rgba(0, 0, 0, 0.2);
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

a,
p, button, input[type="submit"] {
  font-size: var(--fs-body);
  line-height: 1.5;
}

label,
::placeholder {
  font-size: var(--fs-label);
}

em {
  font-size: 0.825rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  height: 100vh;
  background-repeat: no-repeat;
  font-family: 'Poppins', sans-serif;
  background-color: var(--clr-light);
}

@mixin flexCenter($direction, $justify, $align-items) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align-items;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: var(--bs);
  background-color: var(--clr-darkest);
}

::-webkit-scrollbar-thumb {
  border-radius: 50%;
  background-color: var(--clr-accent4);

  &:hover {
    background-color: var(--clr-accent3);
  }
}
