/* build-table */
.table-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 5em;
}

// .table {
//   border-collapse: collapse;
//   width: 70rem;
// }

// thead, th {
//   font-size: 1rem;
// }

// thead tr {
//   background-color: #303030 !important;
//   color: #caccd1;
//   text-align: left;
//   font-weight: bolder;
// }

// tbody tr {
//   border-bottom: 1px solid #303030;
// }

// tbody tr:nth-child(add) {
//   background-color: #f3f3f3;
// }

// tbody tr:last-of-type {
//   border-bottom: 2px solid black;
// }
/* build-table */
